<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="cats-api-key" value="live_xZIuqr5N3hTT8faDm8aCT2HyBlll4TPnklCYqbouWDu0GKxAFy84rDoLaHVOVcyB" />
	</appSettings>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Server=localhost;database=temp_cat_cafe;user=root;password=Vorobushek_16jbl" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>